# DB接続用URL
DATABASE_URL=""

# APIキー
NEXT_PUBLIC_API_URL="http://localhost:3000"
API_SECRET_KEY=""

# Supabase アプリDB
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

# Supabase 推し活共通マスタDB
NEXT_PUBLIC_OSHI_MASTER_SUPABASE_URL=""
NEXT_PUBLIC_OSHI_MASTER_SUPABASE_ANON_KEY=""

# YouTube Data API
YOUTUBE_API_KEY=""